@media (max-width: 720px) {
  .home-raphael {
    font-size: 1.5em;
  }
  
  .home-reactjs-activity {
    font-size: 1em;
  }

  .home-activity-description {
    font-size: 0.9em;
  }

  .home-digital-transformation {
    font-weight: bolder;
    font-size: 50px;
  }
}

.home-moving-background {
  overflow-y: auto;
  max-height: auto;
  max-width: auto;
  margin: 0 auto;
  background: linear-gradient(90deg, #030305, #110f15, #3e3d41, #595860);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
.home-carousel-container{
  z-index: 1;
  display: flex;
}
.home-content {
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.home-line {
  width: auto;
  height: 2px; 
  background-color: rgb(255, 255, 255); 
  margin: 20px 10px 10px 20px;
}

.home-raphael {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.home-reactjs-activity {
  font-size: 1.5em;
}

.home-activity-description {
  text-align: center;
  font-size: 1.2em;
  margin: 15px;
}

.home-carousel {
  padding-top: 1.5em;
  max-height: 750px;
  max-width: 950px;
  margin: 0 auto;
}

.home-carousel-item img {
  width: 100%;
  height: auto;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home-txt-content{
    text-align: center;
    padding-bottom: 100px;
}
.home-digital-transformation {
  padding: auto;
  font-weight: bolder;
  font-size: 3em;
}
