body {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.4rem;
  height: 100%;
}

.navbar-bg-body-tertiary {
  background-color: #101010;
}

.navbar-container .links .nav-link {
  padding: 20px;
  color: #ffffff;
}

.navbar-active{
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: #808080;
}

.navbar-container {
  padding: 0;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-nav-link {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 15px;
  }

  .navbar {
    background-color: #000000;
    color: #ffffff;
  }

}
